extends layoutBS

block content
  .container.blueBC
    br
    hr
    h2.white All Posts
    //h1 addPosts = #{addPosts}
    ol.white
      each addPost in addPosts
        li
          e.underline #{addPost.postTime}
          br
          e #{addPost.club} #{addPost.position} - #{addPost.name} #{addPost.year}
          br
          h2 #{addPost.title}
          i #{addPost.post}
          br
          br
      br
    hr
    br
