extends layoutBS

block content
  .container.blueBC
    br
    hr
    .container.whiteBC
      img.imgCenter(src ='/images/sacnas.jpg')
    br
    h2.white.underline Society for the Advancement of Chicanos/Hispanics and Native Americans in Science
    p.white SACNAS provides science oriented opportunities for the student body at Brandeis University.
    a(href='https://lists.brandeis.edu/wws/info/sacnas')
        i.fa.fa-envelope
        |  Email List
    br
    br
    a(href='https://www.facebook.com/brandeissacnas?fref=ts')
        i.fa.fa-facebook
        |  Facebook
    br
    br
    p.white.underline All SACNAS Posts:
    ol.white
      each addPost in addPosts
        li
          e #{addPost.postTime}
          br
          e #{addPost.club} #{addPost.position} - #{addPost.name} #{addPost.year}
          br
          h2 #{addPost.title}
          i #{addPost.post}
          br
          br
      br
    hr
    br
