extends layoutBS

block content
  .container.blueBC
    br
    hr
    img.imgCenter(src ='/images/tsa.jpg')
    br
    h2.white.underline Brandeis Taiwanese Student Association
    p.white TSA's mission is mainly to spread awareness of Taiwan's culture around campus--whether it's through dance, music, and of course, AMAZING food (don't even get me started), we're here to embrace and learn about what makes Taiwan so unique. No, you don't have to be Taiwanese to be in this club and no, you really don't have to know much about Taiwan because all of us are here to experience the culture together (even with other colleges!)
    a(href='https://lists.brandeis.edu/wws/info/tsa-listserv')
        i.fa.fa-envelope
        |  Email List
    br
    br
    a(href='https://www.facebook.com/Brandeis-Undergraduate-Taiwanese-Student-Association-TSA-304013692950739/')
        i.fa.fa-facebook
        |  Facebook
    br
    br
    p.white.underline All TSA Posts:
    ol.white
      each addPost in addPosts
        li
          e #{addPost.postTime}
          br
          e #{addPost.club} #{addPost.position} - #{addPost.name} #{addPost.year}
          br
          i #{addPost.post}
          br
          br
      br
    hr
    br
