extends layoutBS

block content
  .container.blueBC
    br
    hr
    h2.white Delete TSA Posts
    form.leftBorder.white(method="post" action="deletePost")
      ol
        each p in addPosts
          li
            input(name="deletePost" value=p._id type="checkbox")
            e   #{p.postTime}  |
            i   #{p.name}  |
            e   #{p.email}  |
            i   #{p.club}  |
            e   #{p.position}  |
            i   #{p.year}  |
            e   #{p.post}
      input(type="submit" value="Delete checked items")
    br
